html, body {
    background-color:rgb(8, 151, 20);
    margin: 0;
    padding: 0;
    text-align: center;
}

a:link {
color: lightgreen;
}
a:visited {
color: rgb(158, 200, 160);
}
a:hover {
color: white;
}
a {
  background-color: black;
  border-radius: 5px;
  padding: 1px;
  border: 1px;
  text-decoration: none;
}

header {
    background-color: rgb(8, 100, 23);
    position: fixed;
    width: 100%;
    z-index: 10;
}

nav {
    background:rgb(4, 99, 28);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: inline-block; 
    border-radius: 10px;
    padding: 10px;
    border: 5px;
    margin-top: 0px;
    /*
    max-width: 500px;
    */
}

ul {
    margin: 5px auto;
    padding: 0 20px;
}

li {
    font-size: 20px;
    font-weight: 300;
    display: inline-block;
    width: 120px;
    background-color: black;
    padding: 5px;
    border: 5px;
    margin: 5px;
    border-radius: 5px;
}

main {
    background-color:rgb(158, 250, 135);
    color: black;
    /*
    max-width: 465px;
    */
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    border: 10px;
    margin-top: 10px;
    margin-bottom: 10px; 
    position: relative;
    top: 80px;
    max-width: 600px;
}

h1 {
  font-size: 55px;
  font-style: italic; 
}

h1, .heading {
    background-color: rgb(48, 199, 10);
    width: 100%;
    height: auto;
    padding-top: 8px;
    padding-bottom: 5px;
}

h2 {
  font-size: 35px;
  font-style: italic;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 25px;
}

footer {
    background-color: rgb(8, 100, 23);
    width: 100%;
    z-index: 10;
    position: relative;
    top: 80px;
}

